body {
  background-color: #f8f8f5;
}

article,
header,
a.continue {
  background-color: #fff;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.07);
}

a.endnote-anchor:target {
  background-color: #f8f8a8;
}

body,
h1 span,
h2 span {
  color: #404030;
}

a {
  color: inherit;
}

h1,
h2,
h3,
.dedication,
.balanced-list,
a.download,
a.continue,
a:hover {
  color: #e74357;
}

.tooltip {
  color: #fff;
  background-color: rgba(75,75,60,0.8);
}

.endnotes h3,
header h1,
footer {
  color: rgba(0,0,0,0.4);
}

nav.contents {
  background: none;
  color: rgba(0,0,0,0.2);
}

@media screen and (max-width:900px) {
  nav.contents {
    background-color: #fff;
    border-color: rgba(0,0,0,0.07);
  }
}

.img-caption:before,
hr {
  border-color: rgba(0,0,0,0.25);
}

div.sign {
  border-color: rgba(0,0,0,0.2);
}
